h1{
    text-align: center;
    font-style: oblique;
    font-size: 50px;
    color: red;
}

h2, h3{
    grid-column: 1 / -1;
    font-family: "Gill Sans", sans-serif;
    color: #0073E6;
    font-size: 60px;
    margin: 10px 0px 20px 0px;
    text-align: center;
}

h3{
    font-size: 40px;
}

p {
    line-height: 1.5;
    font-family: 'Times New Roman', Times, serif;
}

.skip{
    background: white;
    left: 0;
    padding: 6px;
    -webkit-transition: top 1s ease-out;
    transition: top 1s ease-out;
    z-index: 1;
}

.skip{
    position: absolute;
    top: -40px;
}

.skip:focus{
    top: 20px;
}

img, video{
    display: block;
    border: 5px solid #ff9900;
    padding: 10px;
    border-top-right-radius: 30px;
}

.gallery, .gallery>img{
    display: block;
    width: 100%;
    height: 90%;
    object-fit: cover;
}


@keyframes div_ani{
    0% {background-color: white;}
    50% {background-color: #ffce84;}
    100% {background-color: white;}
}

nav{
    display: block;
    padding: 10px 10px 10px 10px;
}

nav:hover{
    animation-name: div_ani;
    animation-duration: 2s;
}

nav ul{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
    align-items: center;
    justify-items: center;
}

nav li{
    display: block;
    width: 100%;
    grid-column: span 1;
    grid-row: span 1;
    background-color: #0073E6;
    text-align: center;
}


nav li a{
    text-decoration: none;
    text-align: center;
    font-style: 'Times New Roman';
    font-size: 200%;
    color: rgb(255, 255, 255);
}

nav li a:visited {
    color: black;
}

.active{
    background-color: #ea7100;
    grid-column: span 2;
}

@keyframes nav_ani{
    from {background-color: #ea7100;}
    to {background-color: #0073E6;}
}

nav li:hover{
    animation-name: nav_ani;
    animation-duration: 1s;
}

#main_content div{
    display: grid;
    grid-template-columns: 1fr, 1fr;
    grid-gap: 20px;
    align-items: center;
    justify-items: center;
    overflow: hidden;
    padding: 5% 5% 10% 5%;
}

#main_content div *{
    grid-column: span 2;
}

#main_content div>img:first-of-type{
    width: 60%;
    border: 5px dashed #0073E6;
}

#main_content div:hover{
    animation-name: div_ani;
    animation-duration: 2s;
}

#main_content div .gallery{
    width: 80%;
    grid-column: span 1;
}

@keyframes gallery_ani{
    from {width: 80%;
        height: 90%;}
    to {width : 100%;
        height: 100%;}
}

#main_content div .gallery:hover{
    animation-name: gallery_ani;
    animation-duration: 1s;
    width: 100%;
    height: 100%;
}

#main_content div h2{
    grid-column: 1 / span;
    text-align: center;
}

#main_content div p{
    width: 90%;
    margin: 0 auto;
    padding: 20px 0px 0px 0px;
}

#main_content p:hover::first-letter{
    font-style: bold;
    font-size: 200%;
}

#main_content li{
    margin: 10px 0px 10px 0px;
}

#main_content ol{
    margin: 0px 0px 30px 0px;
    list-style-type: decimal;
    width: 90%;
}

#main_content ul{
    margin: 0px 0px 30px 0px;
    list-style-type: disc;
    width: 90%;
    text-align: center;
}

figure{
    text-align: center;
}

figure img{
    margin: auto 0;
}

@media (prefers-reduced-motion: reduce) {
    main_content div .gallery:hover, nav li:hover, main_content div:hover, nav:hover{
      animation: none;
    }

    main_content video{
        display: none;
    }
  }
  